<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="../static/webix/codebase/webix.css" type="text/css" charset="utf-8">
    <script src="../static/webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>

    <link type="text/css" href="../static/fontawesome/css/all.css" rel="stylesheet">

    <link type="text/css" href="../src/css/main.css" rel="stylesheet">

</head>
<body>

<script type="text/javascript" charset="utf-8" src="../src/js/menu_items.js"></script>
<script type="text/javascript" charset="utf-8" src="../src/js/menu.js"></script>

<script type="text/javascript" charset="utf-8" src="../src/js/monitoring.js"></script>

</body>
</html>
